
html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: darkslategray;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    background-color: darkslategrey;
  }
  
  .calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    margin-left: 35%;
   padding-top: -10px;
    box-shadow:  3px 3px;
  }
  
  .calculator-screen {
    width: 100%;
    height: 100px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 4rem;
  }
  
  button {
    height: 60px;
    font-size: 2rem!important;
  }
  
  .equal-sign {
    height: 95%;
    grid-area: 2 / 4.2 / 6 / 5;
  }
  
  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  h1{
    text-align: center;
    color: white;
    font-size: 30px;
  }
  